.pie{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background:rgb(35, 133, 118);
    display: flex;
    align-items: flex-end;
    border-top: 2px solid #fff;
    margin-left: 0px;
   
}
.pie img
{
    margin-left: 20px;
    
}
.info 
{
   border-left: solid var(--white);
   
}
.info p
{
    font-size: 13px;
    color: #fff;
    font-family: Verdana;
    margin: 5px;
    margin-left: 30px;
    font-family: Verdana;
}
.icons
{
    margin-left: 380px;
    
}